body, html {
    height: 100%;
    width: 100%;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    color: #e9e3f0;
    background-color: #140d16;
    font-family: 1.2em/1.62 iosevka;
}
.header{
    background: #28282a;
    padding: 50px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.wrapper{
    min-width: 100%;
    position: relative;
    margin: 0 auto;
}
.right-sidebar{
    background: #AB8FAC;
    float: right;
    width: 25%;
    padding-bottom: 100px;
    padding-top: 1em;
    height: 80%;
    text-align: center;
}
.content{
    background: #97969b;
    float: left;
    padding-top: 1em;
    width: 75%;
    height: 80%;
    padding-bottom: 100px;
    text-align: center;
}
.clear {
    clear: both;
}
.footer{
    clear: both;
    position: relative;
    background: #28282a;
    padding: 50px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
