body {
	color: #e9e3f0;
	background-color: #140d16;
	margin:1em auto;
	max-width:40em;
	padding:0 .62em;
	font-family: 1.2em/1.62 iosevka sans-serif;
}
h1,h2,h3 {
	line-height:1.2;
}
input, textarea, select, a:link, a:visited {
	color: #e9e3f0;
	background-color: #140d16;
	border-color: #e9e3f0;
	border-width: 2;
	border-style: solid;
	font-family: 1.2em/1.62 iosevka sans-serif;
	padding: 5px 15px;
	border-radius:10px;
	text-decoration: none;
	display: inline-block;
	opacity: 0.9;
}
input:hover, textarea:hover, select:hover, a:hover, a:active {
  opacity: 1.0;
}
